@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

:root {
  --main-color: #006AFF;
}
body {
  font-family: 'Anonymous Pro', monospace;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}


/*
  Секция HERO
*/

.hero {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  height: 85vh;
  text-align: center;
  position: relative;
}
.hero nav {
  background: var(--main-color);
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
}
.hero a {
  color: #fff;
}
.hero nav ul li {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
.hero nav ul li:last-child {
  padding-left: 40px;
}
.hero h1 {
  color: #fff;
  font-size: 110px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 1px;
}
.hero .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-color);
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
}


/*
  Секция .edu
*/

.edu {
  height: 85vh;
  display: flex;
}
.post,
.research {
  height: 100%;
  background-size: cover;
  width: 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.post {
  background-image: url(../img/post.jpg);
}
.research {
  background-image: url(../img/research.jpg);
}
.post a,
.research a {
  font-size: 40px;
}
.post a {
  background-color: #fff;
  color: red;
  padding: 50px 25px;
}
.research a {
  background-color: red;
  color: #fff;
  padding: 25px;
}
.post span {
  display: block;
}


/*
  Секция с книгами
*/

.books {
  height: 85vh;
  background-color: var(--main-color);
}
.books ul {
  display: flex;
  overflow-x: scroll;
  padding: 10px 0;
}
.books ul li img {
  width: 220px;
  margin: 0 10px;
  transition: transform 300ms ease;
}
.books ul li img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.books .strelka-logo {
  display: inline-block;
  margin-top: 36px;
  width: 384px;
  height: 136px;
  background-image: url(../img/strelka-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -251px;
}







/* EOF */
